/****** Default & General Styling ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #273C56;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}


/****** Main ******/

main {
    background-color: #152436;
    border-radius: 15px;
    box-shadow: 0 0 15px -3px #152436;
    color: #19D3DA;
    width: 65%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: 200%;
    margin-bottom: 30px;
}

.visibility {
    display: none;
}


/****** Start Up Section ******/

.start-up {
    margin: 8% 10%;
}

.start-btn-section {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 60px 9%;
}

.start-btn {
    background-color: #152436;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 4px 6px #9AB3F5;
    color: #f6f6f6;
    font-size: 115%;
    font-weight: 500;
    outline: none;
    padding: 12px 75px;
}

.start-btn:hover {
    background-color: #9AB3F5;
    box-shadow: 0 0 2px 2px #9AB3F5;
    color: #152436;
    cursor: pointer;
    font-weight: 700;
}


/****** Yes Button Pressed - Animal Name Section ******/

.yes-button {
    margin: 5% 8%;
}

.animal-name-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.animal-name-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: -10%;
    padding-left: 10%;
}

.animal-name-section input {
    border: none;
    background-color: #9AB3F5;
    border-radius: 2px;
    box-shadow: 0 0 1px 3px #9AB3F5;
    color: #152436;
    font-size: 110%;
    font-weight: 700;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 5%;
    margin: 10px 0 20px 10px;
    width: 90%;
}

.animal-name-section button {
    background-color: #152436;
    border: none;
    color: #f6f6f6;
    box-shadow: 0 0 1px 3px #9AB3F5;
    border-radius: 2%;
    font-size: 100%;
    font-weight: 500;
    outline: none;
    width: 20%;
    padding: 3px;
}

.animal-name-section button:hover {
    background-color: #9AB3F5;
    box-shadow: 0 0 2px 1px #9AB3F5;
    color: #152436;
    cursor: pointer;
    font-weight: 700;
}

::placeholder {
    color: #666666;
    font-weight: 400;
}

.animal-name-section img {
    width: 50%;
    margin-left: 30%;
}


/****** Enter Button Pressed - Personality Traits ******/

.matched-animal-name {
    margin: 5% 8%;
}

.personality-traits-section {
    display: grid;
    grid-template-columns: 35% 75%;
}

.personality-traits-section img {
    width: 50%;
    margin-left: 30%;
}

.personality-traits-section ul {
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    margin-right: 20%;
    position: relative;
    overflow: hidden;
}

.personality-traits-section li {
    background-color: #00587A;
    border-radius: 4px;
    box-shadow: 0 0 5px 2px #19D3DA;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-weight: 400;
    list-style-type: none;
    min-width: 190px;
    height: 40px;
    margin: 15px;
    padding: 0 15px;
}

.disclaimer-btn {
    color: #f6f6f6;
    cursor: pointer;
    font-size: 12px;
    margin-left: -105%;
    padding-top: 5px;
}

.disclaimer-btn:hover {
    color: #19D3DA;
    font-size: 13px;
    font-weight: 500;
}


/****** Disclaimer Section ******/

.disclaimer-section {
    margin: 8% 10%;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 110px 9%;
}

.disclaimer h1 {
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 20px;
}


/****** Enter Button Pressed - No Matching Animal ******/

.unmatched-animal-name {
    margin: 9% 15% 9% 7%;
}

.unique-personality-section {
    display: grid;
    grid-template-columns: 60% 40%;
}

.unique-personality-section h1 {
    text-align: left;
    margin: 40px 8% 0 0;
    font-size: 180%;
}

.unique-personality-section img {
    width: 130%;
    padding-right: 5%;
}


/****** No Button Pressed - You Know It All Section ******/

.no-button {
    margin: 7% 12%;
}

.know-it-all-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.know-it-all-section h1 {
    text-align: left;
    margin: 55px 5% 0 0;
    font-size: 230%;
}

.know-it-all-section img {
    width: 105%;
}


/****** Back to Start ******/

.back-to-start-btn {
    background-color: #152436;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 3px 2px #9AB3F5;
    color: #f6f6f6;
    font-size: 80%;
    font-weight: 400;
    outline: none;
    width: 110px;
    padding: 6px 6px;
    margin-left: 85%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back-to-start-btn:hover {
    background-color: #9AB3F5;
    box-shadow: 0 0 2px 2px #9AB3F5;
    color: #152436;
    cursor: pointer;
    font-weight: 600;
}

/****** Footer ******/

footer {
    position: relative;
    top: 130px;
}

footer p {
    font-size: 12px;
    color: #9AB3F5;
}

footer em {
    color: #19D3DA;
    cursor: pointer;
}


/****** For Cell Phones Screen ******/


@media (max-width:700px) {


    /****** Main ******/

    main {
        height: 410px;
        max-width: 375px;
        min-width: 375px;
    }


    /****** Start Up Section ******/

    .start-up {
        margin: 15% 10%;
    }

    .start-up h1 {
        font-size: 170%;
    }

    .start-btn-section {
        flex-direction: column;
        margin: 30px 9%;
    }

    .start-btn {
        padding: 12px 75px;
        margin: 20px 10%;
    }


    /****** Yes Button Pressed - Animal Name Section ******/

    .yes-button {
        margin: 10%;
    }

    .yes-button h1 {
        font-size: 150%;
        margin-bottom: 20px;
    }

    .animal-name-section {
        grid-template-columns: 1fr;
    }

    .animal-name-section form {
        margin-top: 0;
        padding: 0 10%;
    }

    .animal-name-section input {
        width: 100%;
    }

    .animal-name-section button {
        width: 30%;
        line-height: 1.2;
    }

    .animal-name-section img {
        width: 40%;
        margin: 30px 0 0 30px;
    }


    /****** Enter Button Pressed - Personality Traits ******/

    .matched-animal-name {
        margin: 5% 11%;
    }

    .matched-animal-name h1 {
        font-size: 170%;
    }

    .personality-traits-section {
        grid-template-columns: 100%;
    }

    .personality-traits-section img {
        display: none;
    }

    .personality-traits-section ul {
        height: 240px;
        margin: 0 0 20px 0;
    }

    .personality-traits-section li {
        font-size: 100%;
        min-width: 110px;
        height: 30px;
    }

    .disclaimer-btn {
        margin-left: -100%;
        padding-top: 15px;
    }

    /****** Disclaimer Section ******/

    .disclaimer-section {
        margin: 95px 10%;
    }

    .disclaimer {
        margin: 0 9%;
    }

    .disclaimer h1 {
        font-size: 130%;
        margin-bottom: 30px;
    }


    /****** Enter Button Pressed - No Matching Animal ******/

    .unmatched-animal-name {
        margin: 18% 15%;
    }

    .unique-personality-section {
        grid-template-columns: 1fr;
    }

    .unique-personality-section h1 {
        text-align: center;
        font-size: 150%;
        margin: 0 auto 40px;
    }

    .unique-personality-section img {
        width: 90%;
        padding-right: 0;
        margin: 0 auto;
    }


    /****** No Button Pressed - You Know It All Section ******/

    .no-button {
        margin: 14% 12%;
    }

    .know-it-all-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .know-it-all-section h1 {
        text-align: center;
        margin: 35px 0;
        font-size: 190%;
    }

    .know-it-all-section img {
        width: 80%;
    }

    /****** Back to Start ******/

    .back-to-start-btn {
        top: 20px;
    }

    /****** Footer ******/

    footer {
        top: 90px;
    }

}

/****** For Tablet Screen ******/

@media (min-width:700px) and (max-width:1000px) {

    /****** Main ******/

    h1 {
        font-size: 180%;
    }

    /****** Start Up Section ******/

    .start-up {
        margin: 13% 10%;
    }

    .start-up {
        margin: 13% 10%;
    }

    .start-btn {
        padding: 12px 60px;
    }


    /****** Yes Button Pressed - Animal Name Section ******/

    .yes-button {
        margin: 8%;
    }

    .yes-button h1 {
        margin-bottom: 40px;
    }

    .animal-name-section form {
        justify-content: flex-start;
    }

    .animal-name-section input {
        margin: 50px 0 15px;
        width: 95%;
    }

    .animal-name-section button {
        font-size: 95%;
        width: 25%;
    }

    .animal-name-section img {
        width: 60%;
    }


    /****** Enter Button Pressed - Personality Traits ******/

    .matched-animal-name {
        margin: 4% 8%;
    }

    .matched-animal-name h1 {
        margin-bottom: 15px;
    }

    .personality-traits-section img {
        width: 70%;
        margin: 15px 0 0 5%;
    }

    .personality-traits-section ul {
        height: 250px;
        margin-right: 0;
        width: 320px;
    }

    .personality-traits-section li {
        font-size: 100%;
        min-width: 130px;
        margin: 12px;
    }

    .disclaimer-btn {
        margin-left: -100%;
        padding-top: 10px;
    }


    /****** Disclaimer Section ******/

    .disclaimer-section {
        margin: 16% 15%;
    }

    .disclaimer {
        margin: 0;
    }


    /****** Enter Button Pressed - No Matching Animal ******/

    .unmatched-animal-name {
        margin: 12% 15% 9% 7%;
    }

    .unique-personality-section h1 {
        margin: 40px 8% 0 0;
        font-size: 150%;
    }

    .unique-personality-section img {
        padding-right: 7%;
        margin-top: 30px;
    }


    /****** No Button Pressed - You Know It All Section ******/

    .no-button {
        margin: 11% 10%;
    }

    .know-it-all-section h1 {
        font-size: 200%;
    }

    .know-it-all-section img {
        margin: 30px 0 0 20px;
        width: 95%;
    }

    /****** Footer ******/

    footer {
        top: 120px;
    }

}